nav {
    background-color: #cbb682;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 80%;
    left: 0;
    font-family: myFont;
    font-weight: bold;
}


nav ul {
    list-style: none;
    width: 100%;
    /*border: 1px red solid;*/
}

nav ul li {
    float: left;
    width: 16%;
    /*border: 1px red solid;*/
}


nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #181510;
    padding: 20px;
}
